{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Fichiers</title>
    <link rel="stylesheet" href="{% static 'css/stylesfiche.css' %}">
</head>
<body>
    <div class="navbar">
        <img src="{% static 'Ecm.jpg' %}" alt="Logo" class="logo">
        <div class="navbar-buttons">
            <a href="{% url 'home' %}" class="btn btn-green">Page d'acceuil</a>
        </div>
    </div>
    {% if stage.status|lower == "en attente" %}
    <h1 style="text-align: center;">Stage en attente de validation</h1>
    {% elif stage.status|lower == "en cours" %}

    <h1 style="text-align: center;">Stage en cours</h1>
    <div class="centered-container">
        <div class="widgets-container">
            <!-- Widget for downloading a file -->
            <div class="widget download-widget">
                <h2>Télécharger votre fiche</h2>
                <a href="{% url 'stageform:generate_pdf' %}" class="button">Télécharger</a>
            </div>
            
            <!-- Widget for uploading a file -->
            <div class="widget upload-widget">
                <h2>Téléverser votre fiche</h2>
                <form action="your_server_endpoint" method="post" enctype="multipart/form-data">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Téléverser" name="submit" class="button">
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <h1 style="text-align: center;">Stage termine</h1>
    {% endif %}
</body>
</html>
