<h1 style="text-align: center;"><strong>Ecole de Commerce et Management</strong></h1>
<h2 style="text-align: center;"><strong>Fiche de stage</strong></h2>
<p>&nbsp;</p>
<ul>
<li>Nom: {{ nom_user }}</li>
<li>Prenom: {{ prenom_user }}</li>
<li>Type de stage: {{ type_stage_user }}</li>
<li>Tuteur: {{ tuteur_user }}</li>
<li>Entreprise: {{ entreprise_user }}</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Mention:&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p>Signature du tuteur&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Signature de l'entreprise</p>