{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles5.css' %}">
</head>
<body>
    <div class="navbar">
        <img src="{% static 'Ensias.png' %}" alt="Logo" class="logo">
        {% if user.is_authenticated %}

        <div class="navbar-buttons">
            <p>Connecte sous {{ user.username }}</p>
            <a href="{% url 'accounts:logout_user' %}" class="btn btn-black">Logout</a>
        </div>

        {% else %}
        <div class="navbar-buttons">
            <a href="{% url 'accounts:login_user' %}" class="btn btn-green">Sign Up</a>
            <a href="{% url 'accounts:register_user' %}" class="btn btn-black">Login</a>
        </div>
        {% endif %}
    </div>
    <div class="welcome-message">
        <h1>Bienvenue</h1>
        <p>Vous voulez passer la sélection pour suivre notre cursus de développement de haut niveau? Alors postulez.</p>
    </div>
</body>
</html>