<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="navbar">
        <img src="{% static 'Ecm.jpg' %}" alt="Logo" class="logo">
        <div class="navbar-buttons">
            <a href="../../../SI_BD/templates/SI_BD/home.html" class="btn btn-green">Page d'acceuil</a>
        </div>
    </div>
    <div class="welcome-message">
        <h1>Connexion</h1>
        <form class="login-form">
            <div class="input-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class = "stuff", type="submit">Se connecter</button>
        </form>
        
    </div>
    <div class="login-container">
        
    </div>
</body>
</html>
