<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stage</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="navbar">
        <img src="{% static 'Ecm.jpg' %}" alt="Logo" class="logo">
        <div class="navbar-buttons">
            <a href="home.html" class="btn btn-green">Page d'acceuil</a>
        </div>
    </div>
    <div class="welcome-message">
        <h1>Stage</h1>
        <p>Choisissez une option</p>
        <div class="buttons">
            <button id="add-internship">Ajouter un stage</button>
            <button id="view-status">Voir le status de stage</button>
        </div>
    </div>
    
</body>
</html>
